.termos {
  background: var(--c0);
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos ul {
  margin-bottom: 48px;
}

.termos li {
  max-width: 80ch;
  margin-bottom: 24px;
}